{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <div class="container">
              <div class="row">
                <h1 class="display-3 text-center">	
                    BERITA TERKINI	
                </h1>
              </div>
              <br><br><br>
              <div class="container">
                <div class="row">
                  <div class="col-sm text-start">
                    <b>Penguatan Ekosistem Kewirausahaan Politeknik Pos Indonesia Lahirkan Wirausaha Muda</b><br><br>
                    <img src="../static/img/berita1.jpg" width="700" class="center"><br>
                    <p>
                        Dilansir dari laman https://jabar.tribunnews.com Strategi dan arah Pendidikan saat ini adalah bagiamana menciptakan mahasiswa yang memiliki kemampuan berupa knowledge, skills dan attitudes serta mampu menerapkan teknologi digital (AI, IoT, Data, IM dan VM). Untuk meningkatkaan kemampuan itu, salah satunya adalah dengan menciptakan Ekosistem Kewirausahaan di lingkungan kampus. Politeknik Pos Indonesia…<br>
                    </p>
                    <b>Wisuda ke 18, Politeknik Pos Indonesia kukuhkan sebanyak 519 Wisudawan</b><br><br>
                    <img src="../static/img/berita2.jpg"  width="700" class="center"><br>
                    <p>
                        Bandung (16/11/2021) - Sidang Terbuka Senat Politeknik Pos Indonesia (Poltekpos) dengan agenda wisuda Ahli Madya dan Sarjana Tahun Akademik 2020/2021 diselenggarakan pada Selasa (16/11). Dalam kondisi pandemi Covid-19 yang tengah dihadapi saat ini, wisuda Poltekpos dilaksanakan secara daring, melalui Zoom dan disiarkan langsung di kanal Youtube PoltekposTV. Deputi Wakil Direktur…<br>
                    </p>
                    <b>Politeknik Pos Indonesia Melakukan MoU dengan Politeknik Penerbangan Jayapura</b><br><br>
                    <img src="../static/img/berita3.jpg"  width="700" class="center"><br>
                    <p>
                        Bandung, 08 November 2021 - Dalam rangka meningkatkan mutu lulusan, Politeknik Pos Indonesia selalu berusaha melakukan kerjasama dengan Perguruan Tinggi Lainnya. Dalam pelaksanaannya Politeknik Pos Indonesia melakukan penandatanganan MoU dengan Politeknik Penerbangan Jayapura. Senin, 08 November 2021 di Center Of Technology Politeknik Pos Indonesia. Penandatangan MoU antara Direktur Politeknik Pos…<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
<br><br><br><br><br><br><br><br><br>
{% endblock content %}