{% load static %}

<div class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-xs-12 footer_menu">
        <h3>Narahubung</h3>
        <ul>
          <li class="footer_contact">
            <i class="fa fa-phone"></i>
            <a class="nav-link" href="https://api.whatsapp.com/send?phone=081234567890&text=Hallo,%20mau%20tanya%20dong." target="blank">081234567890</a>
          </li>
          <li class="footer_contact">
            <i class="fa fa-envelope"></i>
            <a href="mailto:tanyarepository@gmail.com" target="blank">tanyarepository@gmail.com</a>
          </li>
          <li class="footer_contact">
            <i class="fa fa-map-marker"></i>
            <a href="https://www.google.com/maps/place/Politeknik+Pos+Indonesia/@-6.8731953,107.575976,15z/data=!4m5!3m4!1s0x0:0xd6ca8f735a2a8f38!8m2!3d-6.8731953!4d107.575976" target="blank">Politeknik Pos Indonesia</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 col-xs-12 footer_menu">
        <h3>Menu</h3>
        <ul>
          <li class="footer_menu">
            <a href="{% url 'bukus' %}">Buku</a>
          </li>
          <li class="footer_menu">
            <a href="{% url 'journals' %}">Jurnal</a>
          </li>
          <li class="footer_menu">
            <a href="{% url 'panduan' %}">Panduan</a>
          </li>
          <li class="footer_menu">
            <a href="{% url 'dokumen' %}">Dokumen Pendukung</a>
          </li>
          <li class="footer_menu">
            <a href="{% url 'bantuan' %}">Bantuan</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 col-xs-12 footer_news">
        <h3>Pembayaran via</h3>
				<div class="footer_paymentmethod">
					<img src="{% static 'img/midtrans1.png' %}"/>
        </div> 
      </div>
    </div>
  </div>
</div>
