<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nota Pembelian</title>
	</head>
	<body>
		<header>
			<h1 style="position: relative; text-align: center;">Nota Pembelian</h1>
			<h1>Detail Pembeli</h1>
			<address contenteditable>
				<p><b>Pembeli :</b> {{ order.nama }} {{ order.nama_belakang }}</p>
				<p><b>Instansi :</b> {{ order.instansi }}</p>
				<p><b>Telepon :</b> {{ order.telepon }}</p>
				<p><b>Alamat Email :</b> {{ order.email }}</p>
			</address>
			<span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>
		</header>
		<br>
		<article>
			<h1>Penerima Pembayaran</h1>
			<address contenteditable>
				<p>Repositori Politeknik Pos Indonesia<br>repositorypoltekpos@gmail.com</p>
			</address>
			<br>
			<table class="meta" style="font-size: 100%; table-layout: fixed; width: 100%;border-collapse: separate; border-spacing: 2px;">
				<thead>
					<tr>
						<th style="border-width: 1px; position: relative; text-align: left;"><span contenteditable>No. Pesanan</span></th>
						
						<th style="border-width: 1px; position: relative; text-align: left;"><span contenteditable>Waktu Pembayaran</span></th>
						
						<th style="border-width: 1px; position: relative; text-align: left;"><span contenteditable>Metode Pembayaran</span></th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span contenteditable>#2022{{ order.kd_transaksi }}</span></td>
						<td><span contenteditable>{{ order.tgl_transaksi }}</span></td>
						<td><span contenteditable>Midtrans</span></td>
					</tr>
				</tbody>
			</table>

			<br>

			<h1>Rincian Pesanan</h1>
			<table class="inventory">
				<thead>
					<tr>
						<th style="position: relative; text-align: left;"><span contenteditable>Produk</span></th>
						<th style="position: relative; text-align: left;"><span contenteditable>Kuantitas</span></th>
						<th style="position: relative; text-align: left;"><span contenteditable>Subtotal</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span contenteditable>E-Book</span></td>
						<td><span contenteditable>{{ order.total_buku }}</span></td>
						<td><span data-prefix>Rp. </span><span>{{ order.payable }}</span></td>
					</tr>
				</tbody>
			</table>

			<br>

			<table class="balance text-right">
				<tr>
					<th style="text-align: right;"><span contenteditable>Total </span></th>
					<td><b><span data-prefix>Rp. </span><span>{{ order.payable }}</span></b></td>
				</tr>
			</table>
		</article>

		<br>

		<aside>
			<h1><span contenteditable>Catatan</span></h1>
			<div contenteditable>
				<p>E-book akan dikirim melalui email. Harap cek email yang telah terdaftar pada saat melakukan pembelian.</p>
			</div>
		</aside>
	</body>
</html>
