{% extends "base.html" %}
{% load static %}
{% load customfunction %}
{% block header %}
	
{% endblock header %}
{% block content %}

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><h5><b>Resources</b></h5></li>
						<li class="layanan_menu list-group-item"><a href="{% url 'bukus' %}">Buku</a></li>
						<li class="layanan_menu list-group-item"><a href="{% url 'journals' %}">Jurnal</a></li>
						
					</ul>
					<br>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><h5><b>Layanan Lainnya</b></h5></li>
						<li class="layanan_menu list-group-item"><a href="">Berita</a></li>
						<li class="layanan_menu list-group-item"><a href="/panduan">panduan</a></li>
						<li class="layanan_menu list-group-item"><a href="/dokumen">Unduh Dokumen Petunjuk</a></li>
					</ul>
				</div>
				<div class="col-sm-10">
					<div class="container text-center">
						<h1 class="display-3 text-center">	
							Resources
						</h1>
						<p class="lead"><b>Untuk memenuhi kebutuhan pemustaka, kami melanggan berbagai bahan perpustakaan digital online (e-Resources) seperti jurnal , ebook, dan karya-karya referensi online lainnya. Setiap anggota Perpustakaan Nasional Republik Indonesia (Perpusnas) dan telah memiliki nomor anggota yang sah, berhak memanfaatkan layanan koleksi digital online yang kami langgan (e-Resources).</b></p>
					</div>

					<br><br><br><br>

					<div class="titleheader">
						<h3 class="h2header text-center">Buku Terbaru</h3>
						<h5 class="h5link text-center"><a href="{% url 'bukus' %}">See All</a></h5>
					</div>
					<div class="regulara sliderzx text-center">
						{% for item in newbooks %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ item.cover.url }}"/>
							</div>
							<a href="{% url 'buku' id=item.id_buku %}">{{ item.jdl_buku|text_short }}</a>
							<a href="{% url 'pengarang' id=item.pengarang.id_pengarang %}">{{ item.pengarang }}</a>
							<div class="rating">
								{{ item.totalrating|averagerating:item.totalreview }}
								<span class="totalrating">{{ item.totalreview|add:-1 }}</span>
							</div>
						</div>
						{% endfor %}
					</div>
					
					<br><br><br><br>

					<div class="titleheader">
						<h3 class="h2header text-center">Journal Terbaru</h3>
						<h5 class="h5link text-center"><a href="#">See All</a></h5>
					</div>
					<div class="regulara sliderzx text-center">
						{% for j in newjournal %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{% static 'img/jurnal.png' %}"/>
							</div>
							<a href="{% url 'journal' id=j.kd_jurnal %}">{{ j.jdl_jurnal|text_short }}</a>
						</div>
						{% endfor %}
					</div>
					
					<br><br><br><br>

					<div class="titleheader">
						<h3 class="h2header text-center">Buku Pilihan Pelanggan</h3>
					</div>
					<div class="regulara sliderzx text-center">
						{% for p in ratingbuku %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ p.cover.url }}"/>
							</div>
							<a href="{% url 'buku' id=p.id_buku %}">{{ p.jdl_buku|text_short }}</a>
							<a href="{% url 'pengarang' id=p.pengarang.id_pengarang %}">{{ p.pengarang }}</a>
							<div class="rating">
								{{ p.totalrating|averagerating:p.totalreview }}
								<span class="totalrating">{{ p.totalreview|add:-1 }}</span>
							</div>
							<p>Rp. {{ p.harga }}</p>
							<button class="btn btn-warning" id="addTocart" data-book-id="{{ p.id_buku }}">
									<i class="fa fa-shopping-cart"></i>Add to cart
								</button>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>	
			</div>
		</div>
	</div>
<br><br><br><br>
{% endblock content %}