{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 border-right">
					<div class="container">
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><h5><b>Kategori Jurnal</b></h5></li>
							<div class="border border-bottom"></div>
							{% for get_kategori in kategori %}
							<li class="kategori_menu list-group-item"><a href="{% url 'kategorij' id=get_kategori.id_kategorij %}">{{get_kategori.nama_kategori}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>

	
				<div class="col-sm-8">
					<div class="container">
						<h4><b>{{jurnal.jdl_jurnal}}</b></h4>
						<p>
							<a href="">{{ jurnal.nama_kategori }} </a>
							<a>{{jurnal.pengarang}} / {{jurnal.terbitan}}</a>
						</p>
						<div class="dropdown-divider"></div>
						<br>
						<article class="text-justify" style="margin-top:10px;">
							<h5><b>Abstrak</b></h5>
							{{jurnal.abstract}}
						</article>
						<br>
						<h5><b>Kata Kunci:</b></h5> {{jurnal.keywords}}
						<br><br>
						<h5><b>Refrensi</b></h5>
							{{jurnal.refrensi}}	
						<br><br>
						<i class="fa fa-calendar"> {{jurnal.created}}</i>
					</div>
					<br><br>
				</div>
				<div class="col-sm-2 border-left">
					<div class="container">
						<form action="{% url 'search:searchj' %}" method="GET">
							<div class="input-group search_box" style="width: 200px;">
								<input class="form-control" type="searchj" placeholder="Cari Jurnal" name="j" value="{{searchj}}">
								<button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
							</div>
						</form>
						<div class="dropdown-divider"></div>
						<h5><b>Unduh Jurnal</b></h5>
						<div class="btn-group">
							<a href="{{jurnal.file.url}}" download="{{jurnal.file.url}}" class="btn btn-info"> Unduh Pdf </a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

{% endblock content %}