{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}

	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><h5><b>Kategori Jurnal</b></h5></li>
						{% for get_kategori in kategori %}
						<li class="kategori_menu list-group-item"><a href="">{{get_kategori.nama_kategori}}</a></li>
						{% endfor %}
						
					</ul>
				</div>
				<div class="col-sm-10">
					<h1 class="display-3 text-center">	
						E-resources Journal	
					</h1>

					<br>

					<div class="container">
						<br>
						<table class="table table-hover">
						<thead>
							<tr>
							<th scope="col">#</th>
							<th scope="col">Judul</th>
							<th scope="col">Abstract</th>
							<th scope="col">Pengarang</th>
							<th scope="col"></th>
							</tr>
						</thead>

						<tbody>

							{% for item in journal %}
								<tr>
								<th scope="row">{{forloop.counter}}</th>
								<td>{{item.jdl_jurnal}}</td>
								<td>{{item.abstract}}</td>
								<td>{{item.pengarang}}</td>
								<td>
									<a href="{{item.file.url}}" download="{{item.file.url}}">Pdf</a>
								</td>
								</tr>
							{% endfor %}

						</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}