{% extends "base.html" %}
{% load static %}

{% block content %}

	<div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <div class="container">
              <div class="row">
                <h1 class="display-3 text-center">	
                    BANTUAN	
                </h1>
              </div>
              <br><br><br>
              <div class="container">
                <div class="row">
                  <div class="col-sm text-start">
                    <b>Frequently Asked Questions (FAQ)</b><br><br>
                    <p>
                        Q: Apakah yang dimaksud dengan e-Repository?<br>
                        A: e-Repository adalah segala macam sumber informasi dan publikasi yang disediakan dan diakses secara elektronik (online), contohnya e-journal (jurnal elektronik) dan e-book (buku elektronik).<br>
                    </p>
                    <p>
                        
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}